.made-hard{
    display: grid;
    padding: 120px 0px;


    &__info{
        display: grid;
        justify-content: center;
        text-align: center;
        align-items: center;

        &__title{
            font-size: 35px;
        }

        &__discription{
            font-size: 20px;
            color: #A0A0A0;
            padding: 20px 0px 50px;
        }
    }

    &__img{
        display: grid;
        justify-content: center;
        width: 100%;

        img{
            width: 100%;
        }
    }
}